.container{
    background-color: red;
    height: 250px;
    width: 250px;
    border: solid 2px black;
    position: absolute;
    margin: 25px;
    
    
}

.box{
    background-color: yellowgreen;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    border: solid 2px black;
    position: absolute;
    text-align: center;
    
}

.box-1{
    left: 20px;
    right: 0px;
    top: 20px;

}


.box-2{
    left: 271px;
    right: 0px;
    top: 22px;

}

.box-3{
    left: 20px;
    right: 0px;
    top: 269px;
}

.box-4{
    left: 270px;
    right: 0px;
    top: 269px;
    
}