.box-1{
    width: 300px;
    height: 100px;
    background-color: pink;
    overflow: hidden;
}
.box-2{
    width: 300px;
    height: 100px;
    background-color: pink;
    overflow: auto;
    margin-top: 10px;
}